<ion-content>
  <ion-content class="home ion-padding">
    <ion-img [src]="img" class="transparente ion-align-items-center" ></ion-img>
    <ion-grid *ngIf="clima">
      <ion-row>
        <ion-col col-12>
          <h1 class="temp">{{clima.main.temp}}</h1>
          <h3 class="text">{{clima.name}}</h3>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px">
        <ion-col col-3 offset-4>Máxima:</ion-col>
        <ion-col col-3>{{clima.main.temp_max}}°</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 offset-4>Mínima:</ion-col>
        <ion-col col-3>{{clima.main.temp_min}}°</ion-col>
      </ion-row>
    </ion-grid>
    

  </ion-content>